* {
  box-sizing: border-box;
}

body {
  font-family: 'Urbanist', sans-serif;
  font-weight: 100;
  box-sizing: border-box;
  line-height: 1.3;
}

strong {
  font-weight: 700;
}

.container {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 3rem;
  background: rgb(153, 63, 251);
  background: linear-gradient(
    135deg,
    rgba(153, 63, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  align-items: center;
  justify-content: space-between;
  color: #fff;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.construction h3 {
  font-size: 2rem;
  font-weight: 700;
}

.construction h6 {
  padding-bottom: 3rem;
}

.construction p {
  padding-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  border-bottom: 1px solid #fff;
}

footer {
  font-size: 0.625rem;
}

@media screen and (min-) {
}
