$main-font-family: 'Urbanist', sans-serif;
$main-font-weight: 100;
$main-line-height: 1.3;

$font-weight-bold: 700;
$font-weight-light: 100;

$font-size: .875rem;
$font-size-xs: .625rem;
$font-size-sm: .75rem;
$font-size-md: $font-size;
$font-size-lg: 1rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
